################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Authentic.slnx
/AuthenticApi/bin
/AuthenticApi/obj/Debug
/packages
/AuthenticApi/obj/Release
/.vs
/AuthenticApi/.vs
